.treeclass .nodetree circle{
    fill: #ffaf16;
}

.treeclass .node--internal circle {
    fill: #555;
}
.treeclass .node--internal:hover circle {
    cursor: pointer;
    fill: #ffaf16;
}

.treeclass .linktree {
    stroke: #2a2d32;
    stroke-width: 0.2rem;
}
.treeclass .linktree:hover {
    stroke: #ffaf16;
    stroke-opacity: 1;
}

text {
    font-size: 0.8rem !important;
    font-weight: 600 !important;
  }
  .node--leaf text{
    transform: translateX(0.5rem);
  }